.grid_container {
  display: grid;           
  gap: 32px;
  /* background-color: red; */
  padding: 4px;  
  /* grid-template-columns: repeat(auto-fit, minmax(250px,1fr));     */
  grid-template-columns: 1fr;
  align-items: center;
}


.item {
  display: flex;           
  gap: 6px;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: antiquewhite; */
}

.itemWr {
  display: flex;           
  gap: 6px;
  flex-direction: row;
  justify-content: space-between; 
  /* background-color: antiquewhite; */
}

.itemRowWr {
  display: flex;           
  gap: 6px;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* background-color: antiquewhite; */
}


.inline_left {
  /* background-color: black; */
  min-width: 150px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  align-items: center;
}


.inline_right {
  /* background-color: black; */
  display: flex;
  align-self: center;
}


.optionsWr {
  display: flex;
  gap:60px;
  /* flex-wrap: wrap; */  
  padding: 20px;
  padding-left: 0px;
  /* border:1px solid rgb(6, 155, 255); */
  /* justify-content: space-around; */
  align-items: center;
  border-top:1px solid black;
  width: 100%;
}


.option {
  display: flex;
  /* flex-wrap: wrap; */  
  /* border:1px solid rgb(6, 155, 255); */
  justify-content: space-around;
  align-items: center; 
  gap: 10px;
}