.flagsmainwr{
  display: flex;  
  flex-direction: column;
  max-width: fit-content;  
  align-items: center;
  min-width: 70px;

}

.popupwr {
  display: flex;
  background-color: #000000;
  padding: 15px;
  border-radius: 4px;
  max-width: fit-content;
 
}

.flagswr {
  display: flex;
  gap: 10px;
  flex-direction: column;
  
}

.flagstyle {
  display: flex;
  cursor: pointer;
  transition: all 100ms;
}

.flagstyle:hover {
  transform: scale(1.1);
}
