.bantWr {
  display: flex;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  position: relative;

}

.bantinner{
  width: 80%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.banttext {
  font-size: 1.3rem;
  line-height: 35px;
}




@media screen and (max-width: 1024px) {
    
  .banttext {
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 10px rgb(0, 0, 0),
    -3px 3px 10px rgb(0, 0, 0),
    -3px -3px 10px rgb(0, 0, 0),
    3px -3px 10px rgb(0, 0, 0);
  }
        
}     

