



.menuwr {
    background-color: #cbbb9f;    
    padding: 10px 30px;    
    display: flex;
    gap:30px;
    height: fit-content;
    border-radius: 6px;
    border:1px solid black;
    border-style: outset;    
}

.menuitem
{
padding: 6px 10px ;
border-radius: 4px;
}


.menuitem:hover
{
background-color: black;
color: white;
}