.title {
  padding: 10px;
  font-size: 1.8rem;
  background-color: #cbbb9f;
  border-radius: 6px 6px 0px 0px;
}

.designwr {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.mainwr {
  display: flex;
  gap: 20px;
  flex-direction: column;
}


@media screen and (max-width: 1536px) {
    
    .title {
      font-size: 1.4rem;
    }    
         
}    


@media screen and (max-width: 1200px) {
    
      .title {
        font-size: 1.2rem;
      }    
         
}


  @media screen and (max-width: 900px) {
    
    .title {
            font-size: 1rem;
          }    
             
}    