
  .textboardsMainWr {    
        
    display: flex;  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;
    gap:20px

  }
  

  .title {

    font-size: 1.3rem;
    font-size: 2rem;
    font-weight: bold;
  
  }

  .textboardsWr {
    
      width: 80%;
      font-size: 10px;      
      display: grid;      
      grid-template-columns: 1fr 1fr;
      gap:40px;
      justify-content: center;
      justify-items: center;
  }


  .textboardWr {
    position: relative;    
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100%;

    width: 100%;
    
    gap:20px
  }

  .textboardTitle {
    
    font-size: 1rem;
    width: 80px;
    background-color: rgb(19, 19, 19);
    opacity: 0.8;
    width: 100%;
    color: white;
    padding: 10px;
    transition: all 0.5s;
  }

  .textboardWr:hover .textboardTitle {
    width: 90%;
  }

  .textboardDescription {
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: 300;
    
  }


  .textboardButton {
      cursor: pointer;
      font-size: 1.1rem;
      
  }

  .textboardButton:hover {
    text-decoration: underline;
    
  }


  @media screen and (max-width: 1200px) {
    
    .textboardsWr {            
        grid-template-columns: 1fr;                      
        }   
                   
}     

