.mainWr {
    display: flex;    
    flex-direction: column;
    gap:10px;
    background-color:white;
    
    padding-right: 0px;
    min-width: 230px;
    padding: 10px;
}


.menu {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 2px;
    padding:10px 0px;
}

.menuleft {
    display: flex;
    gap:6px
}


.rmainwr {    
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    border-left:2px dashed rgb(197, 197, 197)
}

.categorynamewr {    
    display: flex;        
    background-color: #f3f3f3;
    gap:6px;
    padding: 10px 8px;
    position: relative;
}

.categorynamewr span {
    position: absolute;
    right:8px;
    top:4px;
    font-size: 0.8rem;
    color: lightgrey;
    transition: all 0.5s;
}


.categorynamewr:hover span {
    color:black;
    transform: scale(1.4);
}

.iconlink {
    cursor: pointer;
}

.iconlink:hover {
color:rgb(7, 134, 219)
}