.footer {
  /* background-color: rebeccapurple; */
  display: flex;
  width: 100%;
}

.shell {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
}

/* .shell> div {

    border:1px solid purple
  } */

.main {
  padding: 20px 30px;
}

.mainwr {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
