.body {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100%;
    position: relative;
    background-color: #eae6e1;
}



.footer {
    /* background-color: rebeccapurple; */
}

.logowr {
    display: flex;
    width: 180px;
    height: 100px;
    position: relative;
    /* background-color: red; */
}

