.popupwr {
  display: flex;
  background-color: #000000;
  position: absolute;
  top: 34px;
  right: 0px;
  padding: 20px;
  border-radius: 8px;
}

.flagswr {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.flagstyle {
  display: flex;
  cursor: pointer;
  transition: all 100ms;
}

.flagstyle:hover {
  transform: scale(1.1);
}
