.body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100%;
  /* padding: 20px 40px; */
  position: relative;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(234, 230, 225, 1) 35%,
    rgba(234, 230, 225, 1) 100%
  );
}

.footer {
  /* background-color: rebeccapurple; */
}

.logowr {
  display: flex;
  width: 180px;
  height: 100px;
  position: relative;
  /* background-color: red; */
}

.main {
  min-height: 80vh;
}
