.title {
  /* padding: 10px; */
  font-size: 1.8rem;
  /* background-color: #e4e4e4; */
  border-radius: 6px 6px 0px 0px;
  font-weight: bold;
}

.designwr {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width:100%;  
  align-items: center;
  
}

.mainwr {
            display: flex;
            gap: 20px;
            flex-direction: column;            
            width: 80%;
        }


@media screen and (max-width: 1536px) {
    
    .title {
      font-size: 1.4rem;
    }    
         
}    


@media screen and (max-width: 1200px) {
    
      .title {
        font-size: 1.2rem;
      }    
         
}


  @media screen and (max-width: 900px) {
    
    .title {
            font-size: 1rem;
          }    
             
}    