
  
  .footer {
    /* background-color: rebeccapurple; */
  }
  
.shell {
  display: flex;
  flex-direction: column;
  
  /* min-height: 100vh; */
  

}
  
  .main {
    
    display: flex;
    flex-direction: column;
    gap:20px
  }
  

  .cuffs {
    display: flex;    
    justify-content: center;
    
  }

  /* .cuffs div{
    width: 80%;
  } */

  .estates {
    display: flex;    
    justify-content: center;        
    width: 100%;
  }

  .estates>div{
    width: 100%;
  }
