.imgwr {
                display: flex;                
                position: relative;                                
                                

                border-radius: 10px 10px 0px 0px;
                overflow: hidden;
        }