
.rmainwr {    
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    border-left:2px dashed rgb(197, 197, 197)
}


.categorynamewr {    
    display: flex;        
    background-color: #f3f3f3;
    gap:6px;
    padding: 10px 8px;
    position: relative;
    flex-direction: column;
}



.categorynameitem {    
    display: flex;        
    background-color: #f3f3f3;
    gap:6px;        
}

.citieswr {
    display: flex;
    flex-direction: column;
}

