/* .shell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
} */

.title {
  padding: 10px;
  font-size: 1.8rem;
  background-color: #cbbb9f;
  border-radius: 6px 6px 0px 0px;
}

/* .cuffs {
  background-color: aquamarine;
  padding: 20px;
} */

.designwr {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  /* grid-template-rows: max-content 1fr max-content; */
  justify-content: center;
  align-items: center;
}

.mainwr {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.fullwr {
  display: flex;
  /* background-color: #e1e6ea; */
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.titlewr {
  display: flex;
  background-color: #cbbb9f;
  width: 80%;
  padding: 20px 10px;
  border-radius: 4px;
}

.insidewr {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.footer {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 1rem;
  }
}
